body {
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #EEE;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.logo img {
    height: 40px;
}

nav {
    display: none;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    color: #000;
    text-decoration: none;
    padding: 1rem;
}

.fa-bars {
    display: none;
    font-size: 24px;
    color: #000;
    cursor: pointer;
}

@media (max-width: 767px) {
    .logo img {
        height: 30px;
    }
    .fa-bars {
        display: block;
    }
    main {
        padding: 40px 30px;
        margin-top: 80px;
      }

    .montessori-game-list {
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
        border-collapse: collapse;
      }
      .montessori-game-list thead th {
        display: none;
      }
      .montessori-game-list tbody tr {
        height: auto;
        display: block;
        overflow: hidden;
      }
      .montessori-game-list tbody td {
        display: block;
        width: auto;
        text-align: right;
        vertical-align: middle;
        padding: .5rem .75rem;
        height: 20px;
      }
      .montessori-game-list tbody td:before {
        content: attr(data-th);
        display: block;
        font-weight: bold;
        text-align: left;
      }
}

@media (min-width: 768px) {
    nav {
        display: block;
    }
    .fa-bars {
        display: none;
    }
    main {
        padding: 40px 150px;
        margin-top: 80px;
      }
}

footer {
    background-color: #EEE;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 40px;
}

p {
    margin: 0;
    color: #000;
    font-size: 14px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #EEE;
    top: 50px;
    right: 0;
    padding: 1rem;
    z-index: 20;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.dropdown-menu a {
    display: block;
    padding: 1rem;
    color: #000;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.dropdown-menu a:hover {
    background-color: #DDD;
    color: #333;
    cursor: pointer;
}

ul {
    list-style: none;
}

  
  .montessori-game-list {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .montessori-game-list th,
  .montessori-game-list td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  .montessori-game-list th {
    background-color: #eee;
  }
  
  .search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .search-container input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    width: 60%;
    margin-right: 10px;
  }
  
  .search-container button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    background-color: #eee;
    cursor: pointer;
  }
  
  #daily-quote {
    background-color: #F2F2F2;
    margin: 60px auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
  }
  
  #quote {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 19px;
  }
  
  #author {
    font-style: italic;
  }
  
  .emoji {
    font-size: 32px;
  }

  .gamedetails p {
    padding: 10px 0;
  }

  .bar-chart {
    display: flex;
    height: 20px;
    width: 100%;
    background-color: lightgray;
    /*border-radius: 10px;*/
  }
  .bar {
    height: 100%;
    width: 0;
    background-color: red;
    /*border-radius: 10px;*/
    transition: width 0.5s ease-in-out;
  }

  .quick-links span {
    margin: 0 5px;
    display: inline-block;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .form-container label {
    font-weight: bold;
    margin-top: 20px;
  }
  .form-container input[type="text"], textarea {
    width: 300px;
    height: 40px;
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid gray;
    border-radius: 5px;
  }
  .form-container textarea {
    height: 100px;
  }
  .form-container input[type="submit"] {
    width: 150px;
    height: 40px;
    font-size: 18px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: lightblue;
    color: white;
    cursor: pointer;
  }